@{
    ViewBag.Title = "Home Page";
}

<div class="row" data-bind="foreach: sortedProjects">
    <div class="project">
        <div>
            <div class="truncate"><span class="badge"><!--ko text: Total--><!--/ko--></span>&nbsp;<!--ko text: Name--><!--/ko--></div>

            <div class="progress" style="margin-bottom: 0">
                <div class="progress-bar progress-bar-success" data-bind="style: { width: SuccessfulPercent() + '%' }">
                    <span><!--ko text: Successful--><!--/ko--></span>
                </div>
                <div class="progress-bar progress-bar-danger" data-bind="style: { width: FailedPercent() + '%' }">
                    <span><!--ko text: Failed--><!--/ko--></span>
                </div>
                <div class="progress-bar progress-bar-warning progress-bar-striped" data-bind="style: { width: RunningPercent() + '%' }">
                    <span><!--ko text: Running--><!--/ko--></span>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/knockout/knockout.js"></script>
    <script src="~/lib/knockout.mapping/knockout.mapping.js"></script>
    <script src="~/lib/signalr/jquery.signalR.js"></script>
    <script src="~/signalr/hubs"></script>

    <script type="text/javascript">
        var vm = null;

        $(function() {
            vm = new ProjectsViewModel();
            ko.applyBindings(vm);

            var projectsHubProxy = $.connection.projects;

            projectsHubProxy.client.updateProjects = function (data) {
                var updatedProjects = [];

                $.each(data, function () {
                    var project = ko.mapping.fromJS(this, ProjectMapping);
                    //console.log(project.Name());
                    //console.log(project.Successful());
                    //console.log(project.Failed());
                    //console.log(project.Running());

                    var match = ko.utils.arrayFirst(vm.projects(), function(item) {
                        return project.Id() === item.Id();
                    });

                    if (!match) {
                        vm.addProject(project);
                    } else {
                        ko.mapping.fromJS(this, match);
                    }

                    updatedProjects.push(project);
                });

                var toRemove = [];

                ko.utils.arrayForEach(vm.projects(), function (project) {
                    var match = ko.utils.arrayFirst(updatedProjects, function (item) {
                        return project.Id() === item.Id();
                    });

                    if (!match) {
                        toRemove.push(project);
                    }
                });

                ko.utils.arrayForEach(toRemove, function (project) {
                    console.log(project.Name());
                    //console.log(project.Successful());
                    //console.log(project.Failed());
                    //console.log(project.Running());
                    vm.removeProject(project);
                });
            };

            function initProjects() {
                return projectsHubProxy.server.getProjects().done(function(projects) {
                    vm.projects.removeAll();

                    $.each(projects, function() {
                        var project = ko.mapping.fromJS(this, ProjectMapping);
                        //console.log(project.Name());
                        //console.log(project.Successful());
                        //console.log(project.Failed());
                        //console.log(project.Running());
                        vm.addProject(project);
                    });
                });
            }

            $.connection.hub.start()
                .done(function() { console.log('Now connected, connection ID=' + $.connection.hub.id); })
                .fail(function() { console.log('Could not Connect!'); })
                .pipe(initProjects);
        });

        function ProjectsViewModel() {
            var self = this;

            self.projects = ko.mapping.fromJS([]);

            self.addProject = function(item) {
                self.projects.push(item);
            };

            self.removeProject = function (item) {
                self.projects.remove(item);
            };

            self.sortFunction = function (a, b) {
                return a.Name().toLowerCase() > b.Name().toLowerCase()
                    ? 1
                    : -1;
            };

            self.sortedProjects = ko.dependentObservable(function () {
                return this.projects.slice().sort(this.sortFunction);
            }, self);
        }

        var ProjectMapping = {
            key: function(item) {
                return ko.utils.unwrapObservable(item.id);
            },
            create: function(options) {
                return new Project(options.data);
            }
        }

        var Project = function(data) {
            ko.mapping.fromJS(data, {}, this);
        };
    </script>
}